{% extends 'baselayout.html.twig' %}

{% block title %}Todo {{todo.id}}{% endblock %}

{% block main %}
    <h1>Todo</h1>

    <div class="form-horizontal"><!-- <form>  -->
    
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Id</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext">{{ todo.id }}</div>
    		</div>
    	</div>
    	
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label-lg">Libellé</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext form-control-lg">{{ todo.title }}</div>
    		</div>
    	</div>
    	
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Terminé</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext">{{ todo.completed ? "oui" : "non" }}</div>
    		</div>
    	</div>
    	
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Projet</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext">
    		    	<a href="{{ path('project_show', {'id': todo.project.id}) }}"data-toggle="tooltip" title="{{ todo.project.description }}">{{ todo.project.title }}</a>
    		    </div>
    		</div>
    	</div>
    	
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Created</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext">{{ todo.created ? todo.created|date('Y-m-d H:i:s') : '' }}</div>
    		</div>
    	</div>
    	
    	<div class="form-group row">
    		<label class="col-sm-2 col-form-label">Updated</label>
    		<div class="col-sm-10">
    		    <div class="form-control form-control-plaintext">{{ todo.updated ? todo.updated|date('Y-m-d H:i:s') : '' }}</div>
    		</div>
    	</div>
    
    </div><!-- form-horizontal </form>  --> 

    {% if is_granted('ROLE_ADMIN') %}

    {{ include('todo/_edit_form.html.twig') }}

    {{ include('todo/_delete_form.html.twig') }}
    {% endif %}
    <a href="{{ path('todo_index') }}">back to list</a>
{% endblock %}
